includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            message: '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
            identifier: argument.type
            path: src/Filament/Actions/OpenResourcePickerAction.php
        -
            message: '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
            identifier: argument.type
            path: src/Livewire/ResourcePicker.php
